# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Docker
*.log

# Migrations cache
alembic/versions/__pycache__/

# SQLite (если когда-нибудь появится)
*.sqlite3
